<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
</head>
<body>
    <h1>qr code</h1>
    <img src=" <%= qr %>" />
    <div style="margin-top:20px;">
        <a href="/admin/login"><button type="button">Admin Login</button></a>
        <a href="/student/login" style="margin-left:10px;"><button type="button">Student Login</button></a>
    </div>
</body>
</html>